<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>Dashboard</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css" integrity="sha256-/mC8AIsSmTcTtaf8vgnfbZXZLYhJCd0b9If/M0Y5nDw=" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js" integrity="sha256-FMQoXFhCWeNb139Wa9Z2I0UjqDeKKDYY+6PLkWv4qco=" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js" integrity="sha256-zBy1l2WBAh2vPF8rnjFMUXujsfkKjya0Jy5j6yKj0+Q=" crossorigin="anonymous"></script>
        <script type="text/javascript">
            onload = ()=>{

                $('.ui.accordion').accordion();

                $('.progress').progress();

                $('#deviceList').accordion('open', 0);

            }
        </script>
        <style media="screen">
            .card{
                height : 25vh;
            }
            #deviceData{
                width: auto!important;
            }
            #pageHeading{
                font-size: 4em;
                margin: 5px 0 0 0;
            }
            .cardHeading{
                font-size: 2.5em!important;
                margin-top: 10px!important;
            }
            .card{
                text-align: center;
                height: fit-content;
            }
            .progress{
                margin: 0 10px!important;
            }
            footer{
                position: absolute!important;
                bottom : 0;
                width: 100%;
            }
            body{
                overflow-y: hidden;
            }
            .greenCard{
                background-color: #21ba45!important;
                width: 40%!important;
                margin-left: 10%;
            }
            .yellowCard{
                background-color: #fbbd08!important;
                width: 40%!important;
                margin-left: 10%;
            }
            .redCard{
                background-color: #db2828!important;
                width: 40%!important;
                margin-left: 10%;
            }
            .botml{
                border-radius: 10px!important;
                right: 0px;
                width: fit-content;
                position: absolute;
                background: white;
                padding: 0 10px;
            }
        </style>
    </head>
    <body ng-controller="dashboardController">

        <div class="ui container-fluid" style="margin: 5px 0 0 0;">
            <a class="ui right floated button red" href="/logout">Logout</a>

            <div id="pageHeading" class="ui huge header center aligned">
                <img width="100" src="https://res.cloudinary.com/hvarday/image/upload/v1521251828/rekindle/rekindle_Logo.png"/>
                Rekindle Automations
            </div>

            <br><br>
        </div>

        <div class="ui grid">
            <div class="four wide column" ng-show="showDevices">
                <div class="ui styled accordion" id="deviceList">
                    <div class="title">
                        <h2><i class="dropdown icon"></i>Device List</h2>
                    </div>
                    <div class="content">

                        <table class="ui celled padded table">
                            <thead>
                                <tr>
                                    <th>DeviceID</th>
                                    <th>Show</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="id in devices">
                                    <td ng-bind="id"></td>
                                    <td>
                                        <button class="ui button blue" type="button" ng-click="showData(id)">Show Data</button>
                                    </td>
                                <tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div ng-class="{'one wide column' : showDevices, 'four wide column' : !showDevices}"></div>
            <div ng-class="{'ten wide column' : showDevices, 'twelve wide column' : !showDevices}">


            <div class="ui one stackable cards">


                <div class="centered card" style="width:60%!important"
                    ng-class="{ 'greenCard' : ( device.data.perc >20 ) ,
                    'yellowCard' : (device.data.perc >10 && device.data.perc <= 20) ,
                    'redCard' : (device.data.perc >0 && device.data.perc <= 10) }"  >

                    <div class="ui hidden divider"></div>

                    <span class="botml" ng-bind="device.data.botml + ' ml'"></span>

                    <div class="ui huge header cardHeading">Room No.
                        <small ng-bind="device.data.room || device.data.id"></small>
                    </div><br><br><br>

                    <div class="ui large header cardHeading" ng-bind=" device.data.perc + '%' ">
                    </div>

                    <div class="ui large header cardHeading"><small ng-bind="device.data.dropCount + ' drops'"></small>
                    </div><br><br>

                </div>
                <!-- <div class="centered card">
                    <div class="ui large header cardHeading">Room No.</div><br><br>
                    <h1 ng-bind="device.data.room || device.data.id"></h1>
                </div>
                <div class="centered card">
                    <div class="ui large header cardHeading">Percentage</div><br><br>
                    <div class="ui indicating progress" data-percent="{{device.data.value1}}">
                        <div class="bar"></div>
                        <div class="label" ng-bind=" device.data.value1 + '%' "></div>
                    </div>
                </div>
                <div class="centered card">
                    <div class="ui large header cardHeading">No. of drops</div><br><br>
                    <h1 ng-bind="device.data.value2"></h1>
                </div>
                <div class="centered card">
                    <div class="ui large header cardHeading">Status</div><br>
                    <h1 ng-bind="device.data.value3"></h1>
                </div> -->
            </div>

            </div>
        </div>
        <footer>
            <img height="70" class="ui left floated image" src="https://res.cloudinary.com/hvarday/image/upload/v1521251660/rekindle/nsrcel.png"/>
            <img height="70" class="ui left floated image" src="https://res.cloudinary.com/hvarday/image/upload/v1521251664/rekindle/dstlogo.png"/>
            <img height="70" class="ui right floated image" src="https://res.cloudinary.com/hvarday/image/upload/v1521251661/rekindle/Startindia_logo.png"/>
        </footer>

        <script type="text/javascript">
            angular.module('app', [])
            .controller('dashboardController', ["$scope", "$http", "$interval", ($scope, $http, $interval)=>{

                $scope.showDevices = <%= showDevices %>;
                $scope.deviceList = [];
                $scope.device = {
                    data : {
                        room : "Select Room first",
                        value1 : 0,
                        value1 : 0,
                        value1 : 0
                    }
                };

                $scope.fetchDevices = ()=>{
                    $http.post('/dashboard')
                    .then((resp)=>{
                        console.log("devices - ", resp.data)
                        $scope.devices = resp.data;
                        if(!$scope.showDevices)
                            $scope.showData($scope.devices[0]);
                    })
                    .catch((err)=>{
                        toastr.error("Something went wrong", "Make sure you have stable internet connection");
                        console.error("fetchDevices - ", err);
                    })
                }

                function fetchData(){

                    console.log($scope.device.id)

                    if(!$scope.device.id)  return;

                    var request = {
                        method : "POST",
                        url : '/dashboard',
                        data : { id : $scope.device.id }
                    }

                    $http(request)
                    .then((resp)=>{
                        $scope.device.data = resp.data;

                        var percent = resp.data.value1 > 100 ? 100 : resp.data.value1;

                        $('.progress').progress({   percent: percent })
                    })
                    .catch((err)=>{
                        toastr.error("Something went wrong", "Make sure you have stable internet connection");
                        console.error("fetchData - ", err);
                    });

                }

                $scope.showData = (id)=>{
                    $scope.device.id = id;
                    $("#deviceList").accordion('close', 0)
                    $("#deviceData").accordion('open', 0)

                    fetchData();
                }

                $scope.fetchDevices();

                $interval(fetchData, 10000);

            }])

        </script>
    </body>
</html>
